@import './../../styles/colors.scss';

.striped-row {
    background-color: $gray-100;
    margin: 3px;
    padding: 3px;
}

.not-striped-row {
    margin: 3px;
    padding: 3px;
    background-color: $white;

}

.gantt-container {
    border: 1px solid $gray-300;
    border-radius: 5px;
    margin-bottom: 30px;
}

.border-left {
    border-left: 2px solid $gray-500;
}