.striped-row {
    background-color: rgba(247, 244, 241, 0.917);
    margin: 3px;
    padding: 3px;
}

.not-striped-row {
    margin: 3px;
    padding: 3px;
    background-color: rgba(255, 253, 251, 0.917);

}

.gantt-container{
    border: 1px solid rgb(232, 213, 213);
    border-radius: 5px;
    margin-bottom: 30px;
}

.border-left{
    border-left: 2px #bfbfbf solid;
}