@import './../../styles/colors.scss';

.progress-bar-custom {
    margin: 3px !important;
    background-color: $gray-400 !important;
    border-radius: 7px !important;
}

.progress-bar-danger {
    border: 1.3px dotted $danger !important;
    border-radius: '10px'
}

.margin-right-10 {
    margin-right: 10px;
}

.border-danger {
    border-radius: 8px !important;
    margin-bottom: 3px !important;
    background-color: $gray-200;
}